        <!-- 
        <div class="modal fade" id="shoppingcart1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Shopping Cart</h4>
                    </div>
                    <div class="modal-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Exception Reins Evocative</a></td>
                                    <td>2</td>
                                    <td>$200</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Taut Mayoress Alias Appendicitis</a></td>
                                    <td>1</td>
                                    <td>$190</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Sinter et Molests Perfectionist</a></td>
                                    <td>4</td>
                                    <td>$99</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th>$489</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
                        <button type="button" class="btn btn-info">Checkout</button>
                    </div>
                </div>
            </div>
        </div>

        -->

        <!-- Page Wrapper -->
        <div class="wrapper">
        
            <!-- Header Start -->
            
            <div class="header">
                <div class="container">
                    <!-- Header top area content -->
                    <div class="header-top">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <!-- Header top left content contact -->
                                <div class="header-contact">
                                    <!-- Contact number -->
                                    <span><i class="fa fa-phone red"></i> 888-888-8888</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Header top right content search box -->
                                <div class=" header-search">
                                    <form class="form" role="form">
                                        <div class="input-group">
                                          <input type="text" class="form-control" placeholder="Поиск...">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                          </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Button Kart -->
                                <div class="btn-cart-md dropdown">
                                 <!--   <a class="cart-link dropdown-toggle" data-toggle="dropdown" href="#">
                                      
                                        <img class="img-responsive" src="/images/cart.png" alt="" />
                                     
                                        <h4>Shopping Cart</h4>
                                        <span>3 items $489/-</span>
                                        <div class="clearfix"></div>
                                    </a>
                                
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                        
                                            <div class="cart-item">
                                       
                                                <a href="#"><i class="fa fa-times"></i></a>
                                       
                                                <img class="img-responsive img-rounded" src="/images/nav1.jpg" alt="" />
                                         
                                                <span class="cart-title"><a href="#">Exception Reins Evocative</a></span>
                                          
                                                <span class="cart-price pull-right red">$200/-</span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                        <li>
                                           
                                            <div class="cart-item">
                                   
                                                <a href="#"><i class="fa fa-times"></i></a>
                                       
                                                <img class="img-responsive img-rounded" src="/images/nav2.jpg" alt="" />
                                       
                                                <span class="cart-title"><a href="#">Taut Mayoress Alias Appendicitis</a></span>
                                      
                                                <span class="cart-price pull-right red">$190/-</span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                        <li>
                               
                                            <div class="cart-item">
                                         
                                                <a href="#"><i class="fa fa-times"></i></a>
                                         
                                                <img class="img-responsive img-rounded" src="/images/nav3.jpg" alt="" />
                                             
                                                <span class="cart-title"><a href="#">Sinter et Molests Perfectionist</a></span>
                                       
                                                <span class="cart-price pull-right red">$99/-</span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                        <li>
                                           
                                            <div class="cart-item">
                                                <a class="btn btn-danger" data-toggle="modal" href="#shoppingcart1">Checkout</a>
                                            </div>
                                        </li>
                                    </ul> -->
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <!-- Link -->
                            <a href="#">
                                <!-- Logo area -->
                                <div class="logo">
                                    <img class="img-responsive" src="/images/logo.png" alt="" />
                                    <!-- Heading -->
                                    <h1>Название</h1>
                                    <!-- Paragraph -->
                                    <p>Слоган Вашей компании.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-7">
                            <!-- Navigation -->
                            <nav class="navbar navbar-default navbar-right" role="navigation">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Навигация</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#"><img src="/images/nav1.jpg" class="img-responsive" alt="" /> Главная</a></li>
                                            <li class="dropdown hidden-xs">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/nav2.jpg" class="img-responsive" alt="" /> Меню <b class="caret"></b></a>
                                                <ul class="dropdown-menu dropdown-md">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6">
                                                                <!-- Menu Item -->
                                                                <div class="menu-item">
                                                                    <!-- Heading -->
                                                                    <h3>Постное меню</h3>
                                                                    <!-- Image -->
                                                                    <img src="/images/dish1.jpg" class="img-responsive" alt="" />
                                                                    <!-- Paragraph -->
                                                                    <p>Здесь расположен текст для демонстрации работы данного сайта.</p>
                                                                    <!-- Button -->
                                                                    <a href="#" class="btn btn-danger btn-xs">Посмотреть</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-6">
                                                                <!-- Menu Item -->
                                                                <div class="menu-item">
                                                                    <!-- Heading -->
                                                                    <h3>Рыбное меню</h3>
                                                                    <!-- Image -->
                                                                    <img src="/images/dish2.jpg" class="img-responsive" alt="" />
                                                                    <!-- Paragraph -->
                                                                    <p>Здесь расположен текст для демонстрации работы данного сайта.</p>
                                                                    <!-- Button -->
                                                                    <a href="#" class="btn btn-danger btn-xs">Посмотреть</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <!-- Menu Item -->
                                                                <div class="menu-item">
                                                                    <!-- Heading -->
                                                                    <h3>Специальное меню</h3>
                                                                    <!-- Image -->
                                                                    <img src="/images/dish3.jpg" class="img-responsive" alt="" />
                                                                    <!-- Paragraph -->
                                                                    <p>Здесь расположен текст для демонстрации работы данного сайта.</p>
                                                                    <!-- Button -->
                                                                    <a href="#" class="btn btn-danger btn-xs">Посмотреть</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown visible-xs">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Меню <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="menu.html">Vegetarian</a></li>
                                                    <li><a href="menu.html">Non Vegetarian</a></li>
                                                    <li><a href="menu.html">Special Menu</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><img src="/images/nav3.jpg" class="img-responsive" alt="" /> О ресторане</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/nav4.jpg" class="img-responsive" alt="" /> Услуги <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Праздники</a></li>
                                                    <li><a href="#">Юбилеи</a></li>
                                                    <li><a href="#">Банкеты</a></li>
                                                    <li><a href="#">Свадьбы</a></li>
                                                    <li><a href="#">Выездная кухня</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><img src="/images/nav5.jpg" class="img-responsive" alt="" /> Контакты</a></li>
                                            <li><a href="#"><img src="/images/nav6.jpg" class="img-responsive" alt="" /> Контакты</a></li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div> <!-- / .container -->
            </div>
            
            <!-- Header End -->