			<%= render "/shared/slider" %>

			<!-- Main Content -->
			<div class="main-content">



			<!-- menu Start -->
				
				<div class="menu padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="/images/crown.png" alt="" />
							<!-- Heading -->
							<h2>Меню</h2>
							<!-- Paragraph -->
							<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<!-- Menu content container -->
						<div class="menu-container">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src="/images/menu1.jpg" alt="" />
										<!-- Menu title / Heading -->
										<h3>Рыба</h3>
										<!-- Border for above heading -->
										<div class="title-border br-red"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-red">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 1</a> 
													<!-- Price badge -->
													<span class="pull-right">500р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 2</a>
													<!-- Price badge -->
													<span class="pull-right">450р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 3</a>
													<!-- Price badge -->
													<span class="pull-right">290р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 4</a>
													<!-- Price badge -->
													<span class="pull-right">1200р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 5</a>
													<!-- Price badge -->
													<span class="pull-right">800р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
										</ul>
									</div><!-- / Menu details end -->
								</div>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src="/images/menu2.jpg" alt="" />
										<!-- Menu title / Heading -->
										<h3>Мясо</h3>
										<!-- Border for above heading -->
										<div class="title-border br-green"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-green">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 1</a>
													<!-- Price badge -->
													<span class="pull-right">470р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 2</a>
													<!-- Price badge -->
													<span class="pull-right">350р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 3</a>
													<!-- Price badge -->
													<span class="pull-right">570р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 4</a>
													<!-- Price badge -->
													<span class="pull-right">2200р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 5</a>
													<!-- Price badge -->
													<span class="pull-right">140р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
										</ul>
									</div><!-- / Menu details end -->
								</div>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src="/images/menu3.jpg" alt="" />
										<!-- Menu title / Heading -->
										<h3>Десерты</h3>
										<!-- Border for above heading -->
										<div class="title-border br-lblue"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-lblue">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 1</a>
													<!-- Price badge -->
													<span class="pull-right">140р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 2</a>
													<!-- Price badge -->
													<span class="pull-right">200р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 3</a>
													<!-- Price badge -->
													<span class="pull-right">120р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 4</a>
													<!-- Price badge -->
													<span class="pull-right">100р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="#">Блюдо 5</a>
													<!-- Price badge -->
													<span class="pull-right">300р.</span>
													<div class="clearfix"></div>
												</div>
											</li>
										</ul>
									</div><!-- / Menu details end -->
								</div>
							</div>
						</div> <!-- /Menu container end -->
					</div>
				</div>
				
				<!-- Menu End -->


			
				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="/images/fruit2.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">Пример расположения блока</a></h3>
									<!-- Paragraph -->
									<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="/images/fruit3.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">Пример расположения блока</a></h3>
									<!-- Paragraph -->
									<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
				<!-- Dishes Start -->
					
				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="/images/crown.png" alt="" />
							<!-- Heading -->
							<h2>Новые блюда</h2>
							<!-- Paragraph -->
							<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">	
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="/images/dish5.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Delicious Chinese</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="/images/dish6.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Spicy Onion Rings</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="/images/dish7.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Cream Cheese Cup</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="/images/dish8.jpg" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Spicy Cheese Pizza</h3>
										<!-- Paragraph -->
										<p>At vero eos et accusal gusto for ides residuum lores.</p>
										<!-- Button -->
										<a href="#" class="btn btn-danger btn-sm">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
				
				<!-- Dishes End -->
				
	
				
				<!-- Pricing Start -->
				
				<div class="pricing padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="/images/crown.png" alt="" />
							<!-- Heading -->
							<h2>Offer Price</h2>
							<!-- Paragraph -->
							<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src="/images/dish3.jpg" alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">Mix-Veg Fried Rice</a></h3>
										<!-- Paragraph -->
										<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">Order now</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-red">$45</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src="/images/dish2.jpg" alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">Spicy Fried Chicken</a></h3>
										<!-- Paragraph -->
										<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">Order now</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-lblue">$19</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix visible-md"></div>
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src="/images/dish4.jpg" alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">Chinese Chicken Momo</a></h3>
										<!-- Paragraph -->
										<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">Order now</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-green">$49</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src="/images/dish1.jpg" alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">Sushi</a></h3>
										<!-- Paragraph -->
										<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">Order now</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-red">$29</span>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Pricing End -->
				
				<!-- Chefs Start -->
				
				<div class="chefs padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="/images/crown.png" alt="" />
							<!-- Heading -->
							<h2>Our Chefs</h2>
							<!-- Paragraph -->
							<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="/images/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="/images/clients/4.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Venison Gorky</a></h3>
									<!-- Member designation -->
									<span>Chefs Incharge</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="/images/c-back1.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="/images/clients/7.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Million Carey</a></h3>
									<!-- Member designation -->
									<span>Chefs Incharge</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="/images/c-back3.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="/images/clients/2.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Juliet Watson</a></h3>
									<!-- Member designation -->
									<span>Chefs Incharge</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Chefs End -->
				
				<!-- Testimonial Start -->
				
				<div class="testimonial padd">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<!-- BLock heading -->
								<h3>Recent Dishes</h3>
								<!-- Flex slider Content -->
								<div class="flexslider-recent">
									<ul class="slides">
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src="/images/dish9.jpg" alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>Healthy Salad</h4>
												<!-- Paragraph -->
												<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
											</div>
										</li>
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src="/images/dish10.jpg" alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>White Vanilla Cake</h4>
												<!-- Paragraph -->
												<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
											</div>
										</li>
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src="/images/dish11.jpg" alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>Tasty Fried Fish</h4>
												<!-- Paragraph -->
												<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<!-- BLock heading -->
								<h3>Our Client Says</h3>
								<!-- Flex slider Content -->
								<div class="flexslider-testimonial">
									<ul class="slides">
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src="/images/clients/user.jpg" alt="" /> Jhon Doe<span>, your designation</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src="/images/clients/user.jpg" alt="" /> Marten<span>, your designation</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды. Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src="/images/clients/user.jpg" alt="" /> Katrina Doe<span>, your designation</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial End -->
				
				<!-- Gallery Start -->
				
				<div class="gallery padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="/images/crown.png" alt="" />
							<!-- Heading -->
							<h2>Gallery</h2>
							<!-- Paragraph -->
							<p>Здесь расположен текст для демонстрации работы данного сайта. Он будет изменён после покупки ресурса и доработан под Ваши нужды.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<!-- Gallery elements with pretty photo -->
						<div class="gallery-content">
							<div class="row">
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish1.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish1.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish2.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish2.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish3.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish3.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish4.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish4.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish12.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish12.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish13.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish13.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish14.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish14.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/images/dish15.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="img/dish/dish15.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div><!-- Separate gallery element --><!--/ End Gallery content class -->
					</div>
				</div>
				
				<!-- Gallery End -->
				
			</div><!-- / Main Content End -->	